
p{
    background-color: white;
    color: black;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    background-color:red;
    color: #393d42;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.titulo-cap{
    color: red;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
.hist{
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pag1{
    background-color: #393d42;
}
.texthistindex{
    padding-left: 30px;
    padding-right: 170px;
    margin-right: 0px;
    border: 0px
}