* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: chineserocksrog;
    src: url(fonte/chineserocksrg.otf);
  }

html{
    height: 100%;
    font-family: chineserocksrog;
    /* text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black; */
    letter-spacing: 1.05pt;
}
body{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}
p{
    background-color: white;
    color: white;
    font-size: large;
}

.titulo-cap{
    color: red;
    font-size: 30px;   
}
.hist{
    color: white;
    font-size: 20px;
    margin:15px 0;
}

.textindex{
    padding-left: 30px;
    padding-right: 0%;
    margin-right: 0px;
    border: 0px;
    color: white;
    font-size: xx-large;
    text-decoration: none;
}
.imghist{
    width: 40%;
    margin: 35px;
    margin-left: 30%;
    margin-bottom: 70px;
}

nav{
    background-color: red;
    width: 400px;
    max-width: 400px;
    height: -webkit-fill-available;
    padding-left: 15px;
}
.menu ul{
    height: 100vh;
}
ul{
    list-style: none;
    margin-left: -40px;
    color: white;
}
li{
    margin: 10px 0;
    padding: 5px 0px;
    background-color: red;
}

.conteudo{
    flex-basis: 80%;   
    overflow-y: auto;
    padding: 20px;
}

.conteudo.principal{
    background-image: url('../img/Red-Dead-Redemption-2.jpg.webp');
    background-repeat: no-repeat;
    background-position-x: 70%; 
    background-position-y: 50%;
    background-color: #393d42;
    width: 100%;
    background-color: black;
}
.logo{
    width: 350px;
    padding-left: 30px;
}
.rockstar{
    width: 100px;
    margin-top: 820px;
    margin-left: 1380px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.menu-compendio{
    float: left;
    position: relative;
    display: none;
    background-color: wheat;
    color: black;
    width: 100%;
    height: 360px;
}
.animaislendsec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.animaislendloc{
    width: 400px;
    height: 200px;
}
.tittleanilend{
    display: block;
}
.lendarios{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}